*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    padding: 20px 0px;
}

form{
    margin:0 auto;
    width: 50%;
}

.row{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    position: relative;
}

.row input{
    border-radius: 6px;
    padding: 6px 4px;   
}

#fullName{
    text-transform: capitalize;
}

.col-6{
    width: 50%;
}

.helper_text{
    color: red;
    position: absolute;
    bottom: -19px;
    left: 380px;
    
}

.icon_eye{
    position: absolute;
    bottom: 8px;
    right: 6px;
   cursor: pointer;
}

.icon_eye.eye_noPass{
    display: none;  
}

.img_upload{
    /* border: 1px solid #000; */
    /* border-radius:50%; */
    /* width: 150px;
    height: 150px; */
    margin: 20px auto 70px auto;
    position: relative;
    /* left: 50%;
    transform: translateX(-50%); */
    text-align: center;
}

#img_avatar--upload{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius:50%;
}

#upload_img{
    position: absolute;
    bottom: -30px;
    left: 52%;
    transform: translateX(-50%);
}

#error_uploaImg{
    position: absolute;
    bottom: -49px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    width: 100%;
}

.btns{
    display: flex;
    justify-content: space-evenly;
}

.btns button{
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #ddd;
}

.btns button:hover{
    background-color: #ccc;
    cursor: pointer;
}

.info{
    border: 1px solid #000;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.info_personal{
    list-style: none;
}

.info_personal li{
    margin-bottom: 20px;
}

.info_avatar{
    width: 150px;
    height: 150px;  
}

.info_avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:50%;
}

.text_name{
    text-transform: capitalize;
}