*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    
    
}

#selection_number{
    margin-right: 50px;
    height: 20px;
}

.city_item.active{
    background-color: yellow;
}